body {
  color: #332c34;
  font: 12px Tahoma,Geneva,sans-serif;
  }
.container {
  max-width: 960px;
  }
.outer-wrapper {
  background-color: #f0f2f2;
  }
#content-header {
  background: #28293c url(../images/rain_topbg.jpg) no-repeat 0 0;
  background-size: cover;
  min-height: 104px;
  position: relative;
  }
#portal-header {
  margin-bottom: 0;
  }
.principal {
  display: none;
  }
.documentFirstHeading {
  border: 0;
  margin: 0 0 2px;
  }
.documentDescription {
  font-size: 12px;
  color: #332c34;
  font-weight: bold;
  margin-bottom: 29px;
  line-height: 18px;
  }
input[type="text"], 
input[type="password"], 
textarea, select {
  border-radius: 0;
  }
input[type="checkbox"],
input[type="radio"] {
  margin: 5px 5px 0 0;
  }
.documentByLine {
  display: block;
  margin: 5px 0;
  }
.row {
  margin-left: -13px;
  margin-right: -13px;
  }
.summary {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  }
#portal-searchbox input[type="checkbox"] {
  margin: 7px 5px 0 0;
  float: left;
  }
.searchSection > label {
  margin: 5px 0;
  display: inline-block;
  }
.image-product img {
  width: 100%;
  }
img {
  max-width: 100%;
  width: auto;
  }
.image-product {
  box-shadow: none;
  }
a:link {
  color: #5981d2;
  }
a:visited {
  color: #93a1bf;
  }
.portletItem a:visited, 
.portletFooter a:visited, 
a:visited .portletItemDetails {
  color: #93a1bf;
  }
p {
  line-height: 1.5em;
  margin: 0 0 10px;
  }
h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 4px;
  }
h1 {
  font-size: 22px;
  line-height: 30px;
  }
h2 {
  font-size: 14px;
  line-height: 20px;  
  }
h3 {
  font-size: 13px;
  line-height: 18px;    
  }
h4 {
  font-size: 12px;
  line-height: 18px;    
  }
h5 {
  font-size: 11px;
  line-height: 17px;  
  }
h6 {
  font-size: 10px;
  line-height: 14px;
  }
ul, ol {
  padding: 0;
  }
ol {
  list-style-type: decimal;
  margin: 0 0 18px 27px;
  padding: 0;
  }
#content #content-core li {
  margin-bottom: 0.5em;
  position: relative;
  }
#content #content-core ul li {
  line-height: 1.5em;
  padding: 6px 0 0 22px;
  list-style: none;
  }
#content #content-core ul li:before {
  content: "";
  background: #2c2c3a;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 6px;
  }
body.plone-toolbar-top-default {
  margin-top: 51px;
  }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, 
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, 
.col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, 
.col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, 
.col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, 
.col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 13px;
  padding-right: 13px;
  }
.container, .container-fluid {
  padding-right: 0;
  padding-left: 0;
  }
#portal-slogan {
  color: #fff;
  display: inline-block;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 1.17em;
  font-weight: bold;
  padding: 0 0 0 40px;
  vertical-align: middle;
  width: 370px;
  }
#portal-header #portal-languageselector {
  float: right;
  clear: none;
  background: #FF6046;
  bottom: -33px;
  position: absolute;
  right: 0;
  margin: 0;
  z-index: 999;
  }
#portal-header #portal-languageselector li {
  margin: 0 10px 5px;
  }
#portal-header #portal-languageselector li a {
  color: #fff;
  }

/*---------- SEARCH ----------*/

#portal-header {
  position: relative;
  }
#portal-header #portal-searchbox {
  position: absolute;
  clear: none;
  float: none;
  right: 0;
  margin: -11px 0 0;
  width: 220px;
  padding: 0;
  }
.searchSection {
  color: #fff;
  }
#portal-header #portal-searchbox [type="text"] {
  width: calc(220px);
  padding-right: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
#portal-header #portal-searchbox [type="submit"] {
  background: none;
  border: 0;
  position: absolute;
  width: 15px;  
  text-indent: -99999px;
  }
.fa-search:before {
  right: -12px;
  position: absolute;
  font-size: 18px;
  }
.fa.fa-search {
  position: absolute;
  right: 35px;
  top: 8px;
  }
.pat-livesearch {
  min-width: 220px;
  }
body#visual-portal-wrapper.pat-plone .outer-wrapper [class*="contenttype-"]:before {
  line-height: 20px;
  }
.highlightedSearchTerm {
  background: none;
  box-shadow: none;
  }
#portal-header #portal-searchbox {
  white-space: normal;
  }
body .pat-livesearch .livesearch-results {
  box-shadow: none;
  padding: 0 12px;
  border-color: #ff6046;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px !important;
  }
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, select:focus {
  border-color: #ff6046;
  }
body .pat-livesearch .livesearch-results li:hover, 
body .pat-livesearch .livesearch-results li.selected {
  background-color: transparent;
  }
.pat-livesearch .description {
  font-size: 12px;
  line-height: 18px;
  }
body .pat-livesearch .livesearch-results li {
  padding: 5px 0;
  }
body .ploneCalendar td {
  padding: 0;
  border: 0;
  }
.searchField.portlet-search-gadget + .searchButton, 
#sharing-user-group-search + #sharing-search-button, #select-rules + input {
  margin-top: -32px;
  }
input[type="text"], 
input[type="password"], 
textarea, select {
  height: 32px;
  }
.standalone:hover, [type="submit"]:hover, 
button:hover, .standalone:focus, [type="submit"]:focus, 
button:focus, .standalone:active, [type="submit"]:active, 
button:active, .standalone.active, [type="submit"].active, 
button.active, .open > .dropdown-toggle.standalone, 
.open > .dropdown-toggle[type="submit"], 
.open > .dropdown-togglebutton {
  color: #fff;
  }
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, select:focus {
  box-shadow: none;
  }

/*---------- CALENDAR ----------*/

.portlet .portletContent table thead th {
  height: auto;
  padding: 2px 0;
  background-color: #ccd0d6;
  border-bottom: 1px solid #888;
  font-size: 12px;
  line-height: 18px;
  }
.portlet.portletCalendar .portletContent {
  border-top: 1px solid #888;
  }
.portlet .portletContent table tbody tr:first-child td > * {
  margin-top: 0;
  }
.outer-wrapper .ploneCalendar td {
  background-color: #e5e6ea;
  width: 14%;
  text-align: center;
  padding: 2px;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }
.portlet .portletContent table td.cal_has_events {
  background-color: #cbd0d6;
  font-weight: bold;
  }
.portlet .portletContent table td a {
  color: #332c34;
  }
.portlet .portletContent table .cal_has_events:hover {
  border: 2px solid #F0AE35;
  padding: 0;
  }
.portlet .portletContent table .cal_has_events a:hover {
  background: transparent;
  text-decoration: none;
  box-shadow: none;
  }
.portlet .portletContent table .cal_has_events a:after {
  content: none;
  }
.portlet .portletContent table .today {
  border: 2px solid #F0AE35;
  }
.portlet .portletContent table .today > * {
  background: none;
  font-weight: bold;
  box-shadow: none;
  }
table.ploneCalendar {
  background-color: #e5e6ea;
  }
.ploneCalendar td.cal_prev_month, 
.ploneCalendar td.cal_next_month {
  opacity: .2;
  }
.portlet .portletContent table .cal_next_month, 
.portlet .portletContent table .cal_prev_month {
  color: #262121;
  }
.portlet.portletCalendar .portletHeader .calendarPrevious, 
.portlet.portletCalendar .portletHeader .calendarNext {
  margin-top: 0;
  }

/*---------- NEWS PAGE ----------*/

.tileImage {
  float: right;
  margin-top: 2px;
  }
.tileImage img {
  margin: 2px 0 12px 12px;
  }
.tileHeadline {
  padding-top: 0;
  }
.portletNavigationTree .portletContent > ul > li > a:hover:after {
  content: "»";
  margin-top: -1px;
  }

/*---------- PORTAL PERSONAL TOOLS ----------*/

#portal-header #portal-anontools {
  margin-top: 65px;
  background: rgba(35, 40, 69, 0.67);
  }
#portal-anontools li {
  margin: 7px 10px;
  }
#portal-anontools a {
  color: #fff;
  font-size: 12px;
  }
#portal-anontools ul {
  padding: 0;
  }
.plone-breadcrumb {
  clear: left;
  background-color: transparent;
  margin: 0;
  }
.plone-breadcrumb ol > li + li:before {
  content: "»";
  color: #332c34;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  top: 0;
  }
.plone-breadcrumb ol > li + li:after {
  content: none;
  } 
input[type="submit"],
.context {
  background-color: #ff6046;
  border-color: #ff6046;
  border: 0;
  box-shadow: none;
  color: #fff;
  }
input[type="submit"]:hover,
input[type="submit"]:focus,
.context:hover, 
.context:focus, 
.context:active, 
.context.active, 
.open > .dropdown-toggle.context {
  background-color: #ea4025;
  border-color: #ea4025;
  }
#form-widgets-image img {
  width: auto;
  }
.standalone:hover, .context:hover, 
.destructive:hover, [type="submit"]:hover, 
button:hover, .standalone:focus, .context:focus,
 .destructive:focus, [type="submit"]:focus, 
 button:focus {
  box-shadow: none;
  }
#form-buttons-save {
  margin-right: 10px;
  }
.configlets img {
  width: auto;
  }

/*---------- GLOBAL NAVIGATION ----------*/

.plone-navbar {
  background-color:#f0f2f2;
  border-top:3px solid #ff6046;
  box-shadow: none;
  padding: 0 0 11px 0;
  margin: 0;
  }
.plone-nav > li > a {
  color:#332c34;
  font-size: 12px;
  padding:16px 16px 8px 16px;
  position:relative;
  -moz-border-radius:0 0 6px 6px;
  -webkit-border-radius:0 0 6px 6px;
  border-radius:0 0 6px 6px;
  }
.plone-navbar-nav > li {
  margin:0 0.5em 0 0;
  }
.plone-navbar-nav > .selected > a, 
.plone-navbar-nav > .selected > a:hover, 
.plone-navbar-nav > .selected > a:focus,
.plone-nav > li > a:hover, 
.plone-nav > li > a:focus {
  background-color:#ff6046;
  color: #fff;
  }

/*---------- PORTLETS ----------*/

#portal-column-two,
#portal-column-one {
  background-color: #e5e7eb;
  }
.portlet {
  border-radius: 0;
  box-shadow: none;
  }
.portlet .portletContent,
.portlet .portletFooter {
  background-color: #e5e7eb;
  }
.portlet .portletHeader {  
  background: #ccd0d6;
  font-size: 18px;
  font-weight: normal;
  line-height: 29px;
  padding: 3px 11px;
  color: #332c34;
  border-top: 1px solid #fff;
  }
.portletWrapper:first-child .portletHeader {
  border-top: 0;
  }
.portlet .portletHeader a {
  color: #332c34; 
  text-decoration: none;
  }
.portlet > :first-child {
  border-radius: 0;
  }
.portlet .portletContent > ul .portletItem {
  padding: 5px 12px 0 12px;
  border-bottom: 1px solid #f0f2f2;
  }
.portlet .portletContent > ul > li a {
  padding: 0 0 30px 0;
  }
.portlet .portletFooter {
  border-top: 0;
  box-shadow: none;
  text-align: right;
  }
.portlet .portletContent > ul > li a:before {
  content: none;
  }
.portlet .portletContent > ul time {
  padding: 4px 0 10px 0;
  color: #332c34;
  text-align: end;
  }
.portlet .portletContent > ul li:hover {
  background: none;
  }  
#search-results-bar legend {
  background: #ccd0d6;
  font-size: 18px;
  font-weight: normal;
  line-height: 29px;
  padding: 3px 11px;
  color: #332c34;
  margin: 0;
  }
#search-results-bar .actionMenuContent {
  padding: 0;
  background-color: #e5e7eb;
  border: 0;
  }
#search-results-bar .field {
  margin-bottom: 5px;
  padding: 5px 12px;
  }
#search-results-bar .formControls {
  padding: 0;
  border: 0;
  }

/*----- Social Links -----*/

.portletStaticText ul.social-icons {
  margin: 0;
  list-style: none;
  text-align: center;
  }
.portletStaticText ul.social-icons li {
  margin: 6px 7px;
  }
.portletStaticText ul.social-icons .btn-social {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0 !important;
  display: inline-block;
  }
.portletStaticText ul.social-icons .btn-social a:hover {
  text-decoration: none;
  cursor: pointer;
  }
.portlet .portletContent > ul > li.btn-social a:before {
  position: absolute;
  font-size: 20px;
  margin-top: 0;
  left: 10px;
  color: #fff;
  }
.portlet .portletContent > ul > li a.fa-facebook:before {
  content: "\f09a";
  }
.portlet .portletContent > ul > li a.fa-twitter:before {
  content: "\f099";
  left: 8px;
  }
.portlet .portletContent > ul > li a.fa-linkedin:before {
  content: "\f0e1";
  left: 8px;
  }
.portlet .portletContent > ul > li a.fa-google-plus:before {
  content: "\f0d5";
  left: 8px;
  }
.portlet .portletContent > ul > li a.fa-pinterest:before {
  content: "\f0d2";
  left: 7px;
  }
.portlet .portletContent > ul > li a.fa-dropbox:before {
  content: "\f16b";
  left: 6px;
  }
.portlet .portletContent > ul > li a.fa-reddit:before {
  content: "\f1a1";
  color: #000;
  left: 5px;
  }
.portlet .portletContent > ul > li a.fa-youtube:before {
  content: "\f167";
  color: #fff;
  left: 7px;
  }
.portlet .portletContent > ul > li.btn-social > a {
  border: 0;
  }

/*---------- PORTLET NAVIGATION ----------*/

.navTreeItem a {
  background:transparent !important;
  border-bottom: 1px solid #f5f5f7;
  color:#332c34 !important;
  font-size:1.17em;
  line-height:1.28em;
  text-decoration:none;
  }
.navTreeItem a:hover {
  background-color:#f0f2f2 !important;
  }
.navTreeItem a img,
.portletRecent a img {
  display:none;
  }
.navTreeItem:last-child a {
  border-bottom: 0;
  }
.navTreeCurrentItem {
  background-color:#f0f2f2;
  }
#search-results-bar {
  margin-bottom: 15px;
  }
#searchform .input-group {
  margin-bottom: 15px;
  }
/* Second Level */
.portletItem .navTreeLevel1 {
  background-color:#f0f2f2;
  }
.portletItem .navTreeLevel1 .navTreeItem a  {
  font-size:1em;
  line-height:1.5em;
  padding-left:41px;
  }
.portletItem .navTreeLevel1 .navTreeItem a:hover  {
  background-color:#e5e7eb !important;
  }
.portletItem .navTreeLevel1 .navTreeCurrentItem {
  background-color:#e5e7eb !important;
  }
/* Third Level */
.portletItem .navTreeLevel2 .navTreeItem a {
  padding-left:54px;
  }
.portletItem .navTreeLevel3 .navTreeItem a {
  padding-left:67px;
  }
#portal-footer-wrapper .portlet .portletContent {
  font-size: 12px;
  }
#portal-footer-wrapper {
  padding: 10px 10px;
  }
#portal-footer-wrapper .portletWrapper {
  display: block;
  }
#portal-footer-wrapper a:hover,
#portal-footer-wrapper a {
  color: #5981d2;
  }
.portlet .portletContent {
  font-size: 12px;
  }

@media only screen and (max-width: 767px) {

.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  }
.plone-navbar-toggle {
  background-color: #ff6046;
  margin: 0 auto;
  float: none;
  display: block;
  border: 0;
  border-radius: 0 0 4px 4px;  
  }
#portal-header #portal-searchbox {
  position: relative;
  width: 250px;
  margin: 0 auto;
  clear: both;
  }
#portal-header #portal-anontools {
  margin-top: 10px;
  }
#portal-header #portal-searchbox [type="text"] {
  width: calc(250px);
  }
body .pat-livesearch .livesearch-results {
  width: 250px !important;
  }
#portal-header #portal-logo {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  }
.standalone:hover, 
[type="submit"]:hover, button:hover, 
.standalone:focus, [type="submit"]:focus, 
button:focus, .standalone:active, [type="submit"]:active, 
button:active, .standalone.active, [type="submit"].active, 
button.active, .open > .dropdown-toggle.standalone, 
.open > .dropdown-toggle[type="submit"], .open > .dropdown-togglebutton,
button:active,
.plone-navbar-toggle:hover {
  background-color: #ea4025;
  border-color: #ea4025;
  }
#sidebar {
  width: 100%;
  }
body {
  padding: 0;
  }
.fa.fa-search {
  right: 20px;
  }
.plone-breadcrumb ol {
  padding: 8px 15px 8px 0;
  }
.plone-navbar .container {
  padding: 0;
  }
.plone-nav > li > a {
  border-radius: 0;
  }
.plone-navbar-collapse {
  border-top: 0;
  }
.plone-navbar-toggle:not(.collapsed) {
  border-radius: 0;
  }
.row {
  margin-left: -13px;
  margin-right: -13px;
  }
#portal-footer-wrapper {
  height: auto;
  }
#edit-zone {
  right: auto;
  }
body.plone-toolbar-left-default {
  padding-left: 0;
  }
#portal-slogan {
  width: 100%;
  margin: 15px auto;
  display: block;
  text-align: center;
  }
#portal-header #portal-languageselector {
  float: none;
  background: #FF6046;
  bottom: 0;
  position: relative;
  right: 0;
  margin: 0;
  z-index: 999;
  margin: 15px auto 0;
  display: block;
  }
}