/*---------- header ----------*/ 

.outer-wrapper {
  background-color: #f0f2f2;
  }
#content-header {
  background: #28293c url(../images/rain_topbg.jpg) no-repeat 0 0;
  }

/*---------- main navigation ----------*/ 

.plone-navbar {
  border-top:3px solid #ff6046;
  }
.plone-nav > li > a {
  color:#332c34;
  }
.plone-nav > li > a:hover, 
.plone-nav > li > a:focus,
.plone-nav > .selected > a, 
.plone-nav > .selected:hover > a, 
.plone-nav > .selected:focus > a,
.plone-nav > li:hover > a, 
.plone-nav > li:focus > a {
  background-color: #ff6046;
  color: #fff;
  }
.plone-navbar-nav li .submenu li:hover > a {
  background-color: #f3553b;
  }
.plone-navbar-nav li .submenu,
.plone-navbar-nav > .selected > a, 
.plone-navbar-nav > .selected > a:hover, 
.plone-navbar-nav > .selected > a:focus {
  background-color: #ff6046;
  }
.plone-nav ul .hasChildrens > a:after {
  border-color: transparent transparent transparent rgba(255, 255 , 255, 0.5);
  }
.plone-nav ul .hasChildrens:hover > a:after {
  border-color: transparent transparent transparent #fff;
  }

/*---------- general styles for portles ----------*/

#portal-column-two,
#portal-column-one {
  background-color: #e5e7eb;
  }
.portlet .portletContent,
.portlet .portletFooter {
  background-color: #e5e7eb;
  }
.portlet .portletHeader {  
  background: #ccd0d6;
  color: #332c34;
  }
.portlet .portletHeader a {
  color: #332c34; 
  }
.portlet .portletContent > ul .portletItem {
  border-bottom: 1px solid #f0f2f2;
  }
.portlet .portletContent > ul time {
  color: #332c34;
  }
.ng-collection-buttons button {
  color: #fff;
  }

/*---------- owl carousel ----------*/

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #fff; 
  }

/*---------- calendar portlet ----------*/

.portlet.portletCalendar .portletHeader .calendarPrevious:hover, 
.portlet.portletCalendar .portletHeader .calendarNext:hover {
  color: #fff;
  }
.portlet.portletCalendar .portletContent > *,
.portlet.portletCalendar .portletContent table thead th,
.portlet.portletCalendar .portletContent table .cal_has_events a {
  color: #332c34;
  }
.portlet.portletCalendar .portletContent .event.cal_has_events,
.portlet.portletCalendar .portletContent table td.today,
.portlet.portletCalendar .ploneCalendar .weekdays th {
  background-color: #ccd0d6;
  }
.portlet.portletCalendar .portletContent table thead th {
  border-color: #888;
  }

/*---------- breadcrumbs ----------*/

.plone-breadcrumb ol > li + li:before {
  color: #332c34;
  }

/*---------- content styles ----------*/

#content {
  background-color: #f0f2f2;
  }

/*---------- event page styles ----------*/ 

#content #content-core ul.event.summary {
  border: 1px solid #ddd;
  }
#content #content-core ul.event.summary li {
  border-color: #fff;
  }  
#content #content-core ul.event.summary li strong {
  background-color: #ccd0d6;
  }

/*---------- navigation portlet ----------*/

.portlet.portletNavigationTree .portletContent > ul > li {
  border-bottom-color: #f5f5f7;  
  }
.portlet.portletNavigationTree .portletContent a {
  color: #332c34;
  }
.portlet .portletContent > ul li.navTreeItem:hover > a {
  background-color: #f0f2f2;
  }














.principal {
  display: none;
  }
.documentFirstHeading {
  border: 0;
  margin: 0 0 2px;
  }
.documentDescription {
  font-size: 12px;
  color: #332c34;
  font-weight: bold;
  margin-bottom: 29px;
  line-height: 18px;
  }
#portal-searchbox input[type="checkbox"] {
  margin: 7px 5px 0 0;
  float: left;
  }
.searchSection > label {
  margin: 5px 0;
  display: inline-block;
  }
.image-product img {
  width: 100%;
  }
.image-product {
  box-shadow: none;
  }
a:link {
  color: #5981d2;
  }
a:visited {
  color: #93a1bf;
  }
.portletItem a:visited, 
.portletFooter a:visited, 
a:visited .portletItemDetails {
  color: #93a1bf;
  }
#content #content-core li {
  margin-bottom: 0.5em;
  position: relative;
  }
#content #content-core ul li {
  line-height: 1.5em;
  padding: 6px 0 0 22px;
  list-style: none;
  }
#content #content-core ul li:before {
  content: "";
  background: #2c2c3a;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 6px;
  }
body.plone-toolbar-top-default {
  margin-top: 51px;
  }
.container, .container-fluid {
  padding-right: 0;
  padding-left: 0;
  }
#portal-slogan {
  color: #fff;
  display: inline-block;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 1.17em;
  font-weight: bold;
  padding: 0 0 0 40px;
  vertical-align: middle;
  width: 370px;
  }
#portal-header #portal-languageselector {
  background: #FF6046;
  position: relative;
  right: 0;
  margin: 9px 0 0 0;
  z-index: 999;
  right: 0;
  clear: both;
  }
#portal-header #portal-languageselector li {
  margin: 0 10px 5px;
  }
#portal-header #portal-languageselector li a {
  color: #fff;
  }

/*---------- SEARCH ----------*/

#portal-header {
  position: relative;
  }
#portal-header #portal-searchbox {
  position: relative;
  clear: none;
  float: right;
  right: 0;
  width: 220px;
  padding: 0;
  }
.searchSection {
  color: #fff;
  }
#portal-header #portal-searchbox [type="text"] {
  width: calc(220px);
  padding-right: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
#portal-header #portal-searchbox [type="submit"] {
  background: none;
  border: 0;
  float: right;
  position: relative;
  width: 15px;  
  text-indent: -99999px;
  }
.fa-search:before {
  position: absolute;
  font-size: 18px;
  right: 0;
  }
.fa.fa-search {
  position: absolute;
  right: 10px;
  top: 8px;
  }
.pat-livesearch {
  min-width: 220px;
  }
body#visual-portal-wrapper.pat-plone .outer-wrapper [class*="contenttype-"]:before {
  line-height: 20px;
  }
.highlightedSearchTerm {
  background: none;
  box-shadow: none;
  }
#portal-header #portal-searchbox {
  white-space: normal;
  }
body .pat-livesearch .livesearch-results {
  box-shadow: none;
  padding: 0 12px;
  border-color: #ff6046;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px !important;
  }
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, select:focus {
  border-color: #ff6046;
  }
body .pat-livesearch .livesearch-results li:hover, 
body .pat-livesearch .livesearch-results li.selected {
  background-color: transparent;
  }
.pat-livesearch .description {
  font-size: 12px;
  line-height: 18px;
  }
body .pat-livesearch .livesearch-results li {
  padding: 5px 0;
  }
body .ploneCalendar td {
  padding: 0;
  border: 0;
  }
.searchField.portlet-search-gadget + .searchButton, 
#sharing-user-group-search + #sharing-search-button, #select-rules + input {
  margin-top: -31px;
  }
.standalone:hover, [type="submit"]:hover, 
button:hover, .standalone:focus, [type="submit"]:focus, 
button:focus, .standalone:active, [type="submit"]:active, 
button:active, .standalone.active, [type="submit"].active, 
button.active, .open > .dropdown-toggle.standalone, 
.open > .dropdown-toggle[type="submit"], 
.open > .dropdown-togglebutton {
  color: #fff;
  }

/*---------- NEWS PAGE ----------*/

.tileImage {
  float: right;
  margin-top: 2px;
  }
.tileImage img {
  margin: 2px 0 12px 12px;
  }
.tileHeadline {
  padding-top: 0;
  }
.portletNavigationTree .portletContent > ul > li > a:hover:after {
  content: "»";
  margin-top: -1px;
  }

/*---------- PORTAL PERSONAL TOOLS ----------*/

#portal-header #portal-anontools {
  background: rgba(35, 40, 69, 0.67);
  position: absolute;
  z-index: 9;
  bottom: 0;
  right: 0;
  }
#portal-anontools li {
  margin: 7px 10px;
  }
#portal-anontools a {
  color: #fff;
  font-size: 12px;
  }
#portal-anontools ul {
  padding: 0;
  }
input[type="submit"],
.context {
  background-color: #ff6046;
  border-color: #ff6046;
  border: 0;
  box-shadow: none;
  color: #fff;
  }
input[type="submit"]:hover,
input[type="submit"]:focus,
.context:hover, 
.context:focus, 
.context:active, 
.context.active, 
.open > .dropdown-toggle.context {
  background-color: #ea4025;
  border-color: #ea4025;
  }
#form-widgets-image img {
  width: auto;
  }
.standalone:hover, .context:hover, 
.destructive:hover, [type="submit"]:hover, 
button:hover, .standalone:focus, .context:focus,
 .destructive:focus, [type="submit"]:focus, 
 button:focus {
  box-shadow: none;
  }
#form-buttons-save {
  margin-right: 10px;
  }
.configlets img {
  width: auto;
  }





/*---------- search ----------*/

#search-results-bar legend {
  background: #ccd0d6;
  font-size: 18px;
  font-weight: normal;
  line-height: 29px;
  padding: 3px 11px;
  color: #332c34;
  margin: 0;
  }
#search-results-bar .actionMenuContent {
  padding: 0;
  background-color: #e5e7eb;
  border: 0;
  }
#search-results-bar .field {
  margin-bottom: 5px;
  padding: 5px 12px;
  }
#search-results-bar .formControls {
  padding: 0;
  border: 0;
  }

/*----- Social Links -----*/

.portletStaticText ul.social-icons {
  margin: 0;
  list-style: none;
  text-align: center;
  }
.portletStaticText ul.social-icons li {
  margin: 6px 7px;
  }
.portletStaticText ul.social-icons .btn-social {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0 !important;
  display: inline-block;
  }
.portletStaticText ul.social-icons .btn-social a:hover {
  text-decoration: none;
  cursor: pointer;
  }
.portlet .portletContent > ul > li.btn-social a:before {
  position: absolute;
  font-size: 20px;
  margin-top: 0;
  left: 10px;
  color: #fff;
  }
.portlet .portletContent > ul > li a.fa-facebook:before {
  content: "\f09a";
  }
.portlet .portletContent > ul > li a.fa-twitter:before {
  content: "\f099";
  left: 8px;
  }
.portlet .portletContent > ul > li a.fa-linkedin:before {
  content: "\f0e1";
  left: 8px;
  }
.portlet .portletContent > ul > li a.fa-google-plus:before {
  content: "\f0d5";
  left: 8px;
  }
.portlet .portletContent > ul > li a.fa-pinterest:before {
  content: "\f0d2";
  left: 7px;
  }
.portlet .portletContent > ul > li a.fa-dropbox:before {
  content: "\f16b";
  left: 6px;
  }
.portlet .portletContent > ul > li a.fa-reddit:before {
  content: "\f1a1";
  color: #000;
  left: 5px;
  }
.portlet .portletContent > ul > li a.fa-youtube:before {
  content: "\f167";
  color: #fff;
  left: 7px;
  }
.portlet .portletContent > ul > li.btn-social > a {
  border: 0;
  }


#portal-footer-wrapper .portlet .portletContent {
  font-size: 12px;
  }
#portal-footer-wrapper {
  padding: 10px 10px;
  }
#portal-footer-wrapper .portletWrapper {
  display: block;
  }
#portal-footer-wrapper a:hover,
#portal-footer-wrapper a {
  color: #5981d2;
  }
.portlet .portletContent {
  font-size: 12px;
  }
#portal-footer-wrapper {
  border-top: 30px solid #f0f2f2;
  clear: both;
  line-height: 1.2em;
  margin: 0em 0 1em;
  padding: 1.5em 0 0;
  text-align: center;
  background-color: transparent;
  color: #332c34;
  }
#portal-footer-wrapper .portletWrapper:first-child {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  }
#portal-colophon {
  color: #666;
  margin: 0 0 1em;
  padding: 0 0 1em;
  text-align: center;
  }

@media only screen and (max-width: 767px) {

.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  }
.plone-navbar-toggle {
  background-color: #ff6046;
  margin: 0 auto;
  float: none;
  display: block;
  border: 0;
  border-radius: 0 0 4px 4px;  
  }
#portal-header {
  float: none;
  margin: 0;
  }
#portal-header #portal-searchbox {
  position: relative;
  width: 190px;
  margin: 0 auto;
  clear: both;
  float: none;
  margin-bottom: 10px;
  }
.pat-livesearch {
  min-width: 190px;
  }
#portal-header #portal-anontools {
  margin-top: 10px;
  right: -15px;
  }
#portal-header #portal-searchbox [type="text"],
body .pat-livesearch .livesearch-results {
  width: 190px !important;
  }
#portal-header #portal-logo {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  }
.standalone:hover, 
[type="submit"]:hover, button:hover, 
.standalone:focus, [type="submit"]:focus, 
button:focus, .standalone:active, [type="submit"]:active, 
button:active, .standalone.active, [type="submit"].active, 
button.active, .open > .dropdown-toggle.standalone, 
.open > .dropdown-toggle[type="submit"], .open > .dropdown-togglebutton,
button:active,
.plone-navbar-toggle:hover {
  background-color: #ea4025;
  border-color: #ea4025;
  }
#sidebar {
  width: 100%;
  }
body {
  padding: 0;
  }
.plone-navbar .container {
  padding: 0;
  }
.plone-nav > li > a {
  border-radius: 0;
  }
.plone-navbar-collapse {
  border-top: 0;
  }
.plone-navbar-toggle:not(.collapsed) {
  border-radius: 0;
  }
.row {
  margin-left: -13px;
  margin-right: -13px;
  }
#portal-footer-wrapper {
  height: auto;
  }
#edit-zone {
  right: auto;
  }
body.plone-toolbar-left-default {
  padding-left: 0;
  }
#portal-slogan {
  width: 100%;
  margin: 15px auto;
  display: block;
  text-align: center;
  padding: 0;
  clear: both;
  }
#portal-header #portal-languageselector {
  float: none;
  background: #FF6046;
  bottom: 0;
  position: relative;
  right: 0;
  margin: 0;
  margin: 15px auto 0;
  display: block;
  }
}