/*---------- header ----------*/ 

.outer-wrapper {
  background-color: #fffff0;
  border-top: 3px solid #663300;
  }
#content-header {
  background: #28293c url(../images/sun_topbg.jpg) no-repeat 0 0;
  }

/*---------- main navigation ----------*/ 

.plone-navbar {
  background-color: #ffffcc;
  border-top:3px solid #60323b;
  box-shadow: none;
  padding: 0 0 11px 0;
  margin: 0;
  }
.plone-nav > li > a {
  color:#332c34;
  font-size: 12px;
  padding:16px 16px 8px 16px;
  position:relative;
  -moz-border-radius:0 0 6px 6px;
  -webkit-border-radius:0 0 6px 6px;
  border-radius:0 0 6px 6px;
  }
.plone-navbar-nav > li {
  margin:0 0.5em 0 0;
  }
.plone-navbar-nav > .selected > a, 
.plone-navbar-nav > .selected > a:hover, 
.plone-navbar-nav > .selected > a:focus,
.plone-nav > li > a:hover, 
.plone-nav > li > a:focus {
  background-color:#663300;
  color: #fff;
  }

/*---------- general styles for portles ----------*/

#portal-column-two,
#portal-column-one {
  background-color: #ffffcc;
  }
.portlet .portletContent,
.portlet .portletFooter {
  background-color: #ffffcc;
  }
.portlet .portletHeader {  
  background: #663300;
  color: #ffffcc;
  }
.portlet .portletContent > ul > li > a,
.portletWrapper:first-child .portletHeader {
  border-top: 0;
  }
.portlet .portletHeader a {
  color: #ffffcc; 
  }
.portlet .portletContent > ul .portletItem {
  border-bottom: 1px solid #fffff0;
  }
.portlet .portletContent > ul time,
.ng-collection-buttons button {
  color: #663300;
  }

/*---------- owl carousel ----------*/

.owl-theme .owl-controls .owl-page.active span, 
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #663300; 
  }

/*---------- calendar portlet ----------*/


/*---------- breadcrumbs ----------*/

.plone-breadcrumb ol > li + li:before {
  color: #332c34;
  }




















.principal {
  display: none;
  }
.documentFirstHeading {
  border: 0;
  margin: 0 0 2px;
  }
.documentDescription {
  font-size: 12px;
  color: #332c34;
  font-weight: bold;
  margin-bottom: 29px;
  }
#portal-searchbox input[type="text"] {
  border: 0;
  }
input[type="text"]:focus, 
input[type="password"]:focus {
  border: 1px solid;
  }
#portal-header #portal-searchbox [type="text"]:focus {
  border-radius: 4px 4px 0 0; 
  }
.standalone, .context, .destructive, [type="submit"], button {
  text-shadow: none;
  }
#portal-searchbox input[type="checkbox"] {
  margin: 7px 5px 0 0;
  float: left;
  }
.searchSection > label {
  margin: 5px 0;
  display: inline-block;
  }
#portal-footer-wrapper a,
a:link {
  color: #663300;
  }
a:visited {
  color: #cc9966;
  }
.image-product {
  box-shadow: none;
  }
.image-product figcaption {
  margin: 6px 0;
  }
.portletItem a:visited, 
.portletFooter a:visited, 
a:visited .portletItemDetails {
  color: #cc9966;
  }
#content #content-core li {
  margin-bottom: 0.5em;
  position: relative;
  }
#content #content-core ul li {
  line-height: 1.5em;
  padding: 6px 0 0 22px;
  list-style: none;
  }
#content #content-core ul li:before {
  content: "";
  background: #ff9900;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 6px;
  }
body.plone-toolbar-top-default {
  margin-top: 51px;
  }
.container, .container-fluid {
  padding-right: 0;
  padding-left: 0;
  }
#portal-slogan {
  color: #663300;
  display: inline-block;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 1.17em;
  font-weight: bold;
  padding: 0 0 0 40px;
  vertical-align: middle;
  width: 370px;
  }
.portlet .portletContent {
  font-size: 12px;
  }
#portal-header #portal-languageselector {
  background: #663300;
  position: relative;
  right: 0;
  margin: 9px 0 0 0;
  z-index: 999;
  right: 0;
  clear: both;
  }
#portal-header #portal-languageselector li {
  margin: 0 10px 5px;
  }
#portal-header #portal-languageselector li a {
  color: #fff;
  }

/*---------- SEARCH ----------*/

#portal-header #portal-searchbox {
  position: relative;
  clear: none;
  float: right;
  right: 0;
  width: 220px;
  padding: 0;
  display: inline-block;
  }
.searchSection {
  color: #663300;
  }
#portal-header #portal-searchbox [type="text"] {
  width: calc(220px);
  padding-right: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
#portal-header #portal-searchbox [type="submit"] {
  background: none;
  border: 0;
  float: right;
  position: relative;
  width: 15px;  
  text-indent: -99999px;
  }
.fa-search:before {
  right: 0;
  position: absolute;
  font-size: 18px;
  }
.fa.fa-search {
  position: absolute;
  right: 10px;
  top: 8px;
  }
body#visual-portal-wrapper.pat-plone .outer-wrapper [class*="contenttype-"]:before {
  line-height: 20px;
  }
.highlightedSearchTerm {
  background: none;
  box-shadow: none;
  }
#portal-header #portal-searchbox {
  white-space: normal;
  }
body .pat-livesearch .livesearch-results {
  box-shadow: none;
  padding: 0 12px;
  border-color: #663300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px !important;
  }
input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, select:focus {
  border-color: #663300;
  }
body .pat-livesearch .livesearch-results li:hover, 
body .pat-livesearch .livesearch-results li.selected {
  background-color: transparent;
  }
.pat-livesearch .description {
  font-size: 12px;
  line-height: 18px;
  }
body .pat-livesearch .livesearch-results li {
  padding: 5px 0;
  }
.pat-livesearch {
  min-width: 220px;
  }
.searchField.portlet-search-gadget + .searchButton, 
#sharing-user-group-search + #sharing-search-button, #select-rules + input {
  margin-top: -32px;
  }
  
/*---------- NEWS PAGE ----------*/

.tileImage {
  float: right;
  margin-top: 2px;
  }
.tileImage img {
  margin: 2px 0 12px 12px;
  }
.tileHeadline {
  padding-top: 0;
  }

/*---------- PORTAL PERSONAL TOOLS ----------*/

#portal-header #portal-anontools {
  background: rgba(35, 40, 69, 0.67);
  right: 0;
  position: absolute;
  bottom: 0;
  float: none;
  border-radius: 5px 5px 0 0; 
  }
#portal-anontools li {
  margin: 7px 10px;
  }
#portal-anontools a {
  color: #fff;
  font-size: 12px;
  }
#portal-anontools ul {
  padding: 0;
  }
input[type="submit"],
.context {
  background-color: #663300;
  border-color: #663300;
  border: 0;
  box-shadow: none;
  color: #fff;
  }
input[type="submit"]:hover,
input[type="submit"]:focus,
.context:hover, 
.context:focus, 
.context:active, 
.context.active, 
.open > .dropdown-toggle.context {
  background-color: #8b4c0d;
  border-color: #8b4c0d;
  color: #fff;
  }
.pat-livesearch {
  min-width: 220px;
  }
#form-widgets-image img {
  width: auto;
  }
.standalone:hover, .context:hover, 
.destructive:hover, [type="submit"]:hover, 
button:hover, .standalone:focus, .context:focus,
 .destructive:focus, [type="submit"]:focus, 
 button:focus {
  box-shadow: none;
  }
#form-buttons-save {
  margin-right: 10px;
  }

/*----- Social Links -----*/

.portletStaticText ul.social-icons {
  margin: 0;
  list-style: none;
  text-align: center;
  }
.portletStaticText ul.social-icons li {
  margin: 6px 7px;
  }
.portletStaticText ul.social-icons .btn-social {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0 !important;
  display: inline-block;
  }
.portlet .portletContent > ul > li.btn-social > a {
  border: 0;
  }
.portletStaticText ul.social-icons .btn-social a:hover {
  text-decoration: none;
  cursor: pointer;
  }
.portlet .portletContent > ul > li.btn-social a:before {
  position: absolute;
  font-size: 20px;
  margin-top: 0;
  left: 10px;
  color: #fff;
  }
.portlet .portletContent > ul > li a.fa-facebook:before {
  content: "\f09a";
  }
.portlet .portletContent > ul > li a.fa-twitter:before {
  content: "\f099";
  left: 8px;
  }
.portlet .portletContent > ul > li a.fa-linkedin:before {
  content: "\f0e1";
  left: 8px;
  }
.portlet .portletContent > ul > li a.fa-google-plus:before {
  content: "\f0d5";
  left: 8px;
  }
.portlet .portletContent > ul > li a.fa-pinterest:before {
  content: "\f0d2";
  left: 7px;
  }
.portlet .portletContent > ul > li a.fa-dropbox:before {
  content: "\f16b";
  left: 6px;
  }
.portlet .portletContent > ul > li a.fa-reddit:before {
  content: "\f1a1";
  color: #000;
  left: 5px;
  }
.portlet .portletContent > ul > li a.fa-youtube:before {
  content: "\f167";
  color: #fff;
  left: 7px;
  }

/*---------- PORTLET NAVIGATION ----------*/

.navTreeItem a {
  background:transparent !important;
  border-bottom: 0;
  color:#663300 !important;
  font-size:1.17em;
  line-height:1.28em;
  text-decoration:none;
  }
.navTreeItem a:hover {
  background-color:#f0f2f2 !important;
  }
.navTreeItem a img,
.portletRecent a img {
  display:none;
  }
.navTreeCurrentItem {
  background-color:#f0f2f2;
  }
/* Second Level */
.portletItem .navTreeLevel1 {
  background-color:#f0f2f2;
  }
.portletItem .navTreeLevel1 .navTreeItem a  {
  font-size:1em;
  line-height:1.5em;
  padding-left:41px;
  }
.portletItem .navTreeLevel1 .navTreeItem a:hover  {
  background-color:#e5e7eb !important;
  }
.portletItem .navTreeLevel1 .navTreeCurrentItem {
  background-color:#e5e7eb !important;
  }
/* Third Level */
.portletItem .navTreeLevel2 .navTreeItem a {
  padding-left:54px;
  }
.portletItem .navTreeLevel3 .navTreeItem a {
  padding-left:67px;
  }
#portal-footer-wrapper .portlet .portletContent {
  font-size: 12px;
  }
#portal-footer-wrapper a:hover {
  color: #663300;
  text-decoration: underline;
  }
#portal-footer-wrapper .portletWrapper {
  display: block;
  }
#search-results-bar legend {
  background: #663300;
  font-size: 18px;
  font-weight: normal;
  line-height: 29px;
  padding: 3px 11px;
  color: #ffffcc;
  margin: 0;
  border-bottom: 0;
  }
#search-results-bar .actionMenuContent {
  padding: 0;
  background-color: #ffffcc;
  border: 0;
  }
#search-results-bar .field {
  margin-bottom: 5px;
  padding: 5px 12px;
  }
#search-results-bar .formControls {
  padding: 0;
  border: 0;
  }
#portal-footer-wrapper {
  border-top: 30px solid #ffffcc;
  clear: both;
  line-height: 1.2em;
  margin: 0em 0 1em;
  padding: 1.5em 0 0;
  text-align: center;
  background-color: transparent;
  color: #332c34;
  }
#portal-footer-wrapper .portletWrapper:first-child {
  border: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  }
#portal-colophon {
  color: #666;
  margin: 0 0 1em;
  padding: 0 0 1em;
  text-align: center;
  }

@media only screen and (max-width: 767px) {

.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  }
.plone-navbar-toggle {
  background-color: #663300;
  margin: 0 auto;
  float: none;
  display: block;
  border: 0;
  border-radius: 0 0 4px 4px;  
  }
#portal-header #portal-searchbox {
  position: relative;
  width: 190px;
  margin: 0 auto;
  clear: both;
  float: none;
  display: block;
  }
#portal-header #portal-anontools {
  right: -15px;
  z-index: 9;
  }
#portal-header {
  float: none;
  }
#portal-header #portal-searchbox [type="text"],
body .pat-livesearch .livesearch-results {
  width: 190px !important;
  }
.pat-livesearch {
  min-width: 190px;
  }
#portal-header #portal-logo {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  }
.standalone:hover, 
[type="submit"]:hover, button:hover, 
.standalone:focus, [type="submit"]:focus, 
button:focus, .standalone:active, [type="submit"]:active, 
button:active, .standalone.active, [type="submit"].active, 
button.active, .open > .dropdown-toggle.standalone, 
.open > .dropdown-toggle[type="submit"], .open > .dropdown-togglebutton,
button:active,
.plone-navbar-toggle:hover {
  background-color: #663300;
  border-color: #663300;
  }
#sidebar {
  width: 100%;
  }
body {
  padding: 0;
  }
.fa.fa-search {
  right: 10px;
  }
.plone-navbar .container {
  padding: 0;
  }
.plone-nav > li > a {
  border-radius: 0;
  }
.plone-navbar-collapse {
  border-top: 0;
  }
.plone-navbar-toggle:not(.collapsed) {
  border-radius: 0;
  }
.row {
  margin-left: -13px;
  margin-right: -13px;
  }
#portal-footer-wrapper {
  height: auto;
  }
#edit-zone {
  right: auto;
  }
body.plone-toolbar-left-default {
  padding-left: 0;
  }
#portal-slogan {
  width: 100%;
  margin: 15px auto;
  display: block;
  text-align: center;
  }
#portal-header #portal-languageselector {
  float: none;
  bottom: 0;
  position: relative;
  right: 0;
  margin: 0;
  margin: 15px auto 0;
  display: block;
  }
}