@media screen {

/*---------- RESET ----------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
  }
table {
  border-collapse:collapse;
  border-spacing:0;
  }
fieldset,img { 
  border:0;
  }
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
  }
ol,ul {
  list-style:none;
  }
caption,th {
  text-align:left;
  }
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
  }
q:before,q:after {
  content:'';
  }
abbr,acronym {
  border:0;
  }

/*---------- LAYOUT ----------*/
div.row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
}
div.cell {
  position: relative;
  float: left;
  left: 100%;
}

/*----- WIDTH CLASSES. -----*/
/*----- For a given cell width -----*/ 
div.width-1  { width:  5.3125% }
div.width-2  { width: 11.625% }
div.width-3  { width: 17.9375% }
div.width-4  { width: 24.25% }
div.width-5  { width: 30.5625% }
div.width-6  { width: 36.875% }
div.width-7  { width: 43.1875% }
div.width-8  { width: 49.5% }
div.width-9  { width: 55.8125% }
div.width-10 { width: 62.125% }
div.width-11 { width: 68.4375% }
div.width-12 { width: 74.75% }
div.width-13 { width: 81.0625% }
div.width-14 { width: 87.375% }
div.width-15 { width: 93.6875% }
div.width-16 { width: 100% }

/*----- Positioning classes -----*/ 
div.position-0  { margin-left: -100% }
div.position-1  { margin-left: -93.75% }
div.position-2  { margin-left: -87.5%  }
div.position-3  { margin-left: -81.08% }
div.position-4  { margin-left: -74.75% }
div.position-5  { margin-left: -68.5% }
div.position-6  { margin-left: -62.1% }
div.position-7  { margin-left: -55.9% }
div.position-8  { margin-left: -49.45% }
div.position-9  { margin-left: -43.18% }
div.position-10 { margin-left: -36.87% }
div.position-11 { margin-left: -30.56% }
div.position-12 { margin-left: -24.24% }
div.position-13 { margin-left: -17.93% }
div.position-14 { margin-left: -11.62% }
div.position-15 { margin-left:  -5.31% }

/* Convenience classes — ¼, ½, ¾ widths and ¼, ½, ¾ positions. 
   Not strictly necessary. */
div.width-1\3a 2 { width:    49.5% } /* .width-1:2 */
div.width-1\3a 4 { width:    24.3% } /* .width-1:4 */
div.width-3\3a 4 { width:    74.7% } /* .width-3:4 */
div.position-1\3a 4 {margin-left:    -74.65% } /* .position-1:4 */
div.position-1\3a 2 {margin-left:    -49.45% } /* .position-1:2 */
div.position-3\3a 4 {margin-left:    -24.25% } /* .position-3:4 */


/* Special classes for ⅓, ⅔ widths and ⅓, ⅔ positions. 
These do not strictly conform to the grid, but are useful for certain layouts. */
div.width-1\3a 3 { width: 32.66%; } /* .width-1:3 */
div.width-2\3a 3 { width: 66.4%; } /* .width-2:3 */
div.position-1\3a 3 {margin-left: -66.35%;} /* .position-1:3 */
div.position-2\3a 3 {margin-left: -32.65%;} /* .position-2:3 */

/* Full/leftmost are useful synonyms for full width and leftmost positioning */
div.position-leftmost  { margin-left: -100%   }
div.width-full { width: 100% }

/* Define classes for 1/5ths and 1/6ths widths and positions. */
div.width-1\3a 5 { width:    19.2%; } /* .width-1:5 */
div.position-1\3a 5 {margin-left:    -79.8%;} /* .position-1:5 */
div.position-2\3a 5 {margin-left:    -59.6%;} /* .position-2:5 */
div.position-3\3a 5 {margin-left:    -39.4%;} /* .position-3:5 */
div.position-4\3a 5 {margin-left:    -19.15%;} /* .position-4:5 */

div.width-1\3a 6 { width:    15.8333%; } /* .width-1:6 */
div.position-1\3a 6 {margin-left:    -83.16%;} /* .position-1:6 */
div.position-5\3a 6 {margin-left:    -15.83%;} /* .position-5:6 */

/*---------- PORTAL COLUMNS ----------=*/
#portal-column-content.position-0 {
  margin-left:-100%;
  }
#portal-column-content.width-1\3a 2 {
  width:52.8%;
  }
#portal-column-content.position-1\3a 4 {
  margin-left:-78.9%;
  }
#portal-column-content.width-3\3a 4 {
  width:78.9%;
  }
#portal-column-content.width-3\3a 4.position-0 {
  width:73.9%;
  }
#portal-column-one {
  margin-left:-100%;
  width:20%;
  }
#portal-column-two {
  margin-left:-25%;
  width:25%;
  }

/*---------- PORTAL CONTENT ----------*/
body {
  background-color:#fff;
  color:#332c34;
  font:75% Tahoma,Geneva,sans-serif;
  }
a:link {
  color:#663300;
  }
a:visited {
  color:#cc9966;
  }
p {
  line-height:1.5em;
  margin:0 0 0.75em;
  }
ol {
  list-style-type:decimal;
  margin:0 0 18px 27px;
  }
img {
  vertical-align:text-bottom;
  }
li {
  margin-bottom:0.5em;
  }
#content li ul,
#content li ol {
  margin-top:0;
  margin-bottom:0;
  }
dl {
  margin:0 0 1em;
  }
dt {
  font-weight:bold;
  }
dd {
  line-height:1.5em;
  margin:0 0 0.5em 27px;
  }
strong {
  font-weight:bold;
  }
pre {
  background-color:#222;
  color:#fff;
  font-size:12px;
  font-family:monospace;
  margin-bottom:1em;
  padding:1em;
  overflow-x:auto;
  }
#content {
  background-color:#fffff0;
  clear:both;
  line-height:1.5em;
  padding:1em 1em 2em;
  }
h1 {
  border-bottom:0;
  font-size:1.5em;
  line-height:1.23em;
  margin-bottom:0.5em;
  }
h2 {
  border-bottom:0;
  font-size:1.17em;
  line-height:1.27em;
  }
h3 {
  font-size:1.1em;
  line-height:1.25em;
  }
h4 {
  font-size:1em;
  line-height:1.2em;
  }
h5 {
  font-size:0.9em;
  line-height:1.15em;
  }
h6 {
  font-size:0.85em;
  line-height:1.1em;
  }
h2, h3, h4, h5, h6 {
  font-weight:bold;
  }
#content li a,
#content p a,
#content dd a {
  border:0;
  text-decoration:underline;
  }
#content .link-presentation {
  font-size:90%;
  }
#content ul li {
  background:url(../images/theme_sun/sun_sprite.png) no-repeat -989px -382px;
  line-height:1.5em;
  padding:6px 0 0 22px;
  }
.documentActions {
  background-color:#fff;
  margin:1em -1em -2em;
  padding:1.5em 0 2em 0;
  text-align:right;
  }
.template-folder_full_view .documentActions {
  margin:0 -1em;
  }
#content .documentActions ul {
  border-top:1px solid #663300;
  margin:2px 0 0;
  }
#content .documentActions li {
  background:#ffffcc;
  display:inline-block;
  margin:0 0 0 0.5em;
  padding:0 17px 3px;  
  }
.documentActions li a {
  color:#929aa6;
  }
li.formTab a.selected {
  background:#ffffcc;
  }
li.formTab a:hover {
  background:#ffffcc;
  }
.discussion {
  background-color:#fff;
  margin:1em -1em -2em;
  padding:1em;
  }
.documentEditable .discussion {
  margin:1em -0.9em -2em;
  }
.documentDescription {
  font-weight:bold;
  margin:0 0 1em;
  }
#content-history div.historyComment {
  background-color:transparent;
  }
.discreet {
  color:#76797c;
  }

/*----- Plone Elements -----*/
.visualHighlight {
  background-color:#ffb;
  }
.pullquote {
  border-left:5px solid #222;
  margin:0 0 1em;
  padding:0 0 0 5px;
  }
.callout {
  background-color:#eee;
  border-left:1em solid #ccc;
  padding:1em;
  }
.hiddenStructure {
  background:none;
  border:0;
  display:block;
  height:0.1em;
  margin:-0.1em 0 0 -0.1em;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px;
  }
.visualClear {
  clear:both;
  }

/* Image alignment classes */
.image-left {
  clear:left;
  float:left;
  margin:0.5em 1em 0.5em 0;
  }
.image-right {
  clear:right;
  float:right;
  margin:0.5em 0 0.5em 1em;
  }
.image-inline {
  float:none;
  }
.image-caption {
  margin:0; 
  }
.newsImageContainer {
  float:right;
  margin:0 0 0.5em 1em;
  }
.tileImage {
  border:1px solid #000;
  float:right;
  margin:0 0 0.5em 0.5em;
  }

/*----- Forms -----*/
input {
  font:1em Arial, Helvetica, sans-serif;
  vertical-align:middle;
  }
input[type="checkbox"],
input[type="radio"] {
  margin-right:3px;
  }
.label {
  font-weight:bold;
  }
label {
  font-weight:bold;
  vertical-align:middle;
  }
fieldset {
  border-top:1px solid #ccc;
  line-height:1.5em;
  margin:1em 0;
  padding:1em 0;
  }
.field {
  margin:0 0 1em;
  }
div.field.error {
  background-color:#fdc;
  border:1px solid red;
  margin:1em 0;
  padding:0.5em;
  }
.formControls {
  margin:1em 0;
  }
.formControls input {
  margin-right:4px;
  }
.context {
  margin-right:4px;
  padding:0 3px;
  }
.standalone {
  color:#332c34;
  margin-right:4px;
  padding:0 3px;
  }
.destructive {
  margin-right:4px;
  padding:0 3px;
  }
#visual-portal-wrapper {
  margin:0 auto;
  width:1000px;
  }

/*---------- PORTAL TOP ----------*/
#portal-top {
  border-top:3px solid #000;
  }
#portal-header {
  background:#fcd753 url(../images/theme_sun/sun_sprite.png) no-repeat 0 0;
  min-height:104px;
  position:relative;
  }

/*---------- PORTAL SITEACTIONS ----------*/
#portal-siteactions {
  background:url(../images/theme_sun/sun_sprite.png) no-repeat 0 -250px;
  float:right;
  line-height:1.25em;
  margin:0;
  padding:3px 20px 4px;
  }
#portal-siteactions li {
  display:inline;
  }
#portal-siteactions li a {
  border:0;
  color:#663300;
  margin-right:0.2em;
  padding:0.2em;
  text-decoration:none;
  }
#portal-siteactions li a:hover {
  text-decoration:underline;
  }
  
/*---------- PORTAL SEARCHBOX ----------*/
#portal-searchbox {
  position:absolute;
  right:16px;
  top:33px;
  z-index:1;
  }
.LSBox {
  position:relative;
  }
.searchField {
  background:url(../images/home_sprite.png) no-repeat 0 0;
  border:0;
  font-size:1em;
  line-height:33px;
  height:33px;
  padding:0 6px 0 10px;
  vertical-align:top;
  width:242px;
  }
input.inputLabelActive {
  color:#76797c;
  }
#portal-searchbox .searchButton {
  background:url(../images/home_sprite.png) no-repeat 0 -33px;
  border:0;
  cursor:pointer;
  height:33px;
  padding:0 0 0 2px;
  text-indent:-9999px;
  width:44px;
  }
.searchSection {
  color:#630;
  display:none;
  font-size:0.92em;
  margin:4px 11px 0;
  }
#portal-searchbox:hover .searchSection {
  display:block;
  }
.searchSection input {
  height:14px;
  margin-right:4px;
  vertical-align:middle;
  width:14px;
  }
.searchSection label {
  vertical-align:middle;
  }
.searchSection label:hover {
  color:#630;
  }

/*---------- LIVESEARCH ----------*/
.LSResult {
  position:absolute;
  right:0;
  top:14px;
  z-index:1;
  }
.LSTable {
  margin: 0.5em 0;
  }
.LSRow {
  border:0;
  width:auto;
  }
.LSRow a {
  font-weight:bold;
  text-decoration:none;
  white-space:normal;
  }
.livesearchContainer {
  border:0;
  color:#76797c;
  left:0;
  margin:0;
  padding:0;
  width:385px;
  }
#portal-column-two .livesearchContainer {
  width:210px;
  }
#livesearchLegend {
  border:1px solid #d3d3d4;
  border-bottom:0;
  background-color:#fff;
  padding: 0.25em;
  position:relative;
  }
.LSIEFix {
  background-color:#fff;
  border:1px solid #d3d3d4;
  margin-top:-1px;
  padding:0.5em;
  }
.LSDescr {
  color:#76797c;
  font-size:85%;
  font-weight:normal;
  margin-left:2.5em;
  }
.collapsible .collapser.collapsed:after {
  content:" ▶"
  }
.collapsible .collapser.expanded:after {
  content:" ▼"
  }

/*---------- PORTAL LOGO ----------*/
#portal-logo {
  display:inline-block;
  margin:0;
  text-decoration:none;
  vertical-align:middle;
  }
#portal-logo img {
  margin-left:25px;
  margin-top:10px;
  }

/*---------- PORTAL SLOGAN ----------*/
#portal-slogan {
  color:#663300;
  display:inline-block;
  font-family:Verdana,Geneva,sans-serif;
  font-size:1.17em;
  font-weight:bold;
  padding:0 0 0 40px;
  vertical-align:middle;
  width:370px;
  }

/*---------- LINGVO PLONE ----------*/
#portal-languageselector {
  background-color:#663300;
  float:right;
  font-size:11px;
  line-height:15px;
  margin:0;
  padding:2px 0;
  width:100%;
  }
#portal-languageselector li {
  float:right;
  margin:0;
  }
#portal-languageselector a {
  color:#ffffcc;
  margin-right:20px;
  text-decoration:none;
  }
#portal-languageselector a:hover {
  text-decoration:underline;
  }
#portal-languageselector .currentLanguage a {
  text-decoration:underline;
  }

/*---------- GLOBAL NAVIGATION ----------*/
#theme-globalnav {
  background-color:#ffffcc;
  border-top:3px solid #663300;
  clear:both;
  padding:0 0 11px 0;
  white-space:normal;
  }
#theme-globalnav > li {
  display:inline-block;
  margin:0 0.5em 0 0;
  position:relative;
  white-space:nowrap;
  }
#theme-globalnav li a {
  color:#663300;
  display:inline-block;
  padding:16px 16px 8px 16px;
  position:relative;
  -moz-border-radius:0 0 6px 6px;
  border-radius:0 0 6px 6px;
  text-decoration: none;
  }
#theme-globalnav li.selected > a,
#theme-globalnav li:hover > a {
  background-color:#663300;
  color:#ffffcc;
  }
#theme-globalnav:hover li.selected > a {
  background-color:transparent;
  color:#663300;
  }
#theme-globalnav:hover li:hover > a {
  background-color:#663300;
  color:#ffffcc;
  }
.themeComment {
  left:-9999px;
  position:absolute;
  }
#theme-globalnav li:hover > a.hasChildrens {
  -moz-border-radius:0;
  border-radius:0; 
  }

/*----- DropDown -----*/
#theme-globalnav li ul {
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
  background-color:#663300;
  display:none;
  left:0;
  padding:5px 0 8px;
  position:absolute;
  top:100%;
  width:174px;
  z-index:10;
  }
#theme-globalnav li:hover > ul {
  display:block;
  }
#theme-globalnav ul li {
  margin:0 -1px 0 0;
  padding-right:1px;
  position:relative;
  }
#theme-globalnav ul li a {
  color:#fff;
  display:block;
  padding:5px 16px;
  white-space:normal;
  }
#theme-globalnav:hover ul li:hover > a {
  background-color:#754613;
  -moz-border-radius:0;
  border-radius:0;
  }
#theme-globalnav ul li a span {
  line-height:1.1em;
  }
#theme-globalnav li ul ul {
  -moz-border-radius:6px;
  border-radius:6px;
  left:175px;
  top:-5px;
  }
#theme-globalnav ul li a.hasChildrens {
  background:url(../images/home_sprite.png) no-repeat 160px -233px;
  }
#theme-globalnav ul li:hover > a.hasChildrens {
  background:url(../images/home_sprite.png) no-repeat 160px -109px #754613;
  }

/*---------- PORTAL PERSONAL TOOLS ----------*/
#portal-personaltools-wrapper {
  bottom:0;
  position:absolute;
  right:0;
  }
#portal-personaltools {
  background:transparent url(../images/theme_sun/sun_sprite.png) no-repeat 0 -250px;
  padding:1px 20px 2px;
  }
#portal-personaltools .actionMenuHeader a {
  color:#663300;
  text-decoration:underline;
  }
#portal-personaltools .actionMenuContent {
  background-color:#663300;
  border:1px solid #332c34;
  padding:0;
  right:0;
  top:24px;
  }
#portal-personaltools li {
  margin:0;
  }
#portal-personaltools .actionMenuContent a {
  color:#ffffcc;
  line-height:1.5em;
  margin:0;
  padding:0.2em 0.5em;
  }
#portal-personaltools li a:hover {
  background-color:#fee566;
  color:#663300;
  opacity:0.9;
  text-decoration:underline;
  }
#portal-personaltools #anon-personalbar a {
  display:inline;
  }
#portal-personaltools #anon-personalbar #personaltools-join {
  padding-left:2em;
  }
#portal-personaltools #anon-personalbar a:hover {
  background-color:transparent;
  }

/*---------- PORTAL BREAD CRUMBS ----------*/
#portal-breadcrumbs {
  font-size:0.92em;
  line-height:1.6em;
  padding:18px 16px;
  text-transform:none;
  }
#portal-breadcrumbs a {
  color:#929aa6;
  }
#breadcrumbs-you-are-here {
  color:#929aa6;
  font-size:1.09em;
  }
.breadcrumbSeparator {
  color:#929aa6;
  }

/*---------- PORTAL SUBSCRIBE LINKS ----------*/
#subscribe-links {
  float:right;
  margin:0 5px 0 10px;
  padding:2px 0;
  }
.subsribeWrapper {
  margin:0;
  text-align:right;
  }
.subsribeItem {
  display:inline;
  font-size:1.50em;
  }
.subsribeItem a {
  text-decoration:none;
  }

/*---------- PORTAL FOOTER ----------*/
#portal-footer {
  border-top:30px solid #ffffcc;
  clear:both;
  line-height:1.2em;
  margin:2em 0 1em;
  padding:1em 0 0;
  text-align:center;
  }
#portal-footer p {
  margin:0.25em 0;
  }
#portal-footer a {
  text-decoration:none;
  }

/*---------- PORTAL COLOPHON ----------*/
#portal-colophon {
  color:#666;
  margin:0 0 1em;
  padding:0 0 1em;
  text-align:center;
  }
#portal-colophon a {
  border-bottom:1px solid #ccc;
  color:#666;
  text-decoration:none;
  }

/*---------- GENERAL PORTLETS PROPERTIES ----------*/
.portlet {
  background-color:#ffffcc;
  border-bottom:1px solid #fff;
  margin:0;
  padding-bottom:1em;
  }
.portlet a {
  color:#663300;
  }
.portletHeader {
  background-color:#663300;
  color:#ffffcc;
  font-size:1.5em;
  font-weight:normal;
  line-height:1.6em;
  padding:3px 11px;
  }
.portletHeader a,
.managedPortlet .portletHeader a {
  text-decoration:none;
  color:#ffffcc;
  }
.portletItem {
  margin:0;
  padding:1em;
  }
.portletFooter {
  padding:0.25em 1em;
  text-align:right;
  }
.portletItem a:visited,
.portletFooter a:visited,
a:visited .portletItemDetails {
  color:#cc9966;
  }
.portlet a.tile {
  display:block;
  }
.portletItemDetails {
  display:block;
  text-align:right;
  }

/*---------- MANAGE PORTLETS ----------*/
.managedPortlet {
  margin:0.8em 0;
  }
.blockedPortlet .portletHeader {
  border:1px dashed #ddd;
  margin:-1px;
  background:none !important;
  }
.blockedPortlet .portletHeader a {
  color:#666;
  }
.blockedPortlet .portletBlockedMessage {
  color:white;
  display:inline;
  }
div.portletAssignments div.portletHeader {
  font-size:1.2em;
  line-height:1em;
  padding:0.42em 1em;
  }
.managedPortletActions {
  float:right;
  }
.managedPortletActions a {
  margin:0 2px;
  }
div.managePortletsLink,
a.managePortletsFallback {
  font-size:85%;
  margin-top:1em;
  }

/*---------- portlet Green and Grey Items ----------*/
div.portletGreenItem {
  background-color:#acc755;
  border-bottom:1px solid #fff;
  color:#fff;
  font-size:1.17em;
  padding:23px 38px 19px 14px;
  position:relative;
  }
div.portletGreyItem .image-left,
div.portletGreenItem .image-left {
  margin-top:0;
  }
div.portletGreenItem a.portletLinkItem,
div.portletGreyItem a.portletLinkItem {
  bottom:0;
  padding:2px 10px;
  position:absolute;
  right:0;
  text-decoration:underline;
  }
div.portletGreenItem a {
  color:#fff !important;
  }
div.portletGreenItem a.portletLinkItem {
  background-color:#c7d98d;
  font-size:0.79em;
  }
div.portletGreyItem {
  background-color:#929aa6;
  border-bottom:1px solid #fff;
  color:#fffdc1;
  font-size:0.92em;
  padding:11px 11px 25px;
  position:relative;
  }
div.portletGreyItem a {
  color:#fff !important;
  }
div.portletGreyItem a.portletLinkItem {
  background-color:#b6bbc3;
  }

/*---------- PORTLET STATIC TEXT ----------*/
.portletStaticText ul li {
  background:url(../images/theme_sun/sun_sprite.png) no-repeat -989px -382px;
  padding:0.5em 0 0 1.5em;
  }

/*---------- PORTLET NAVIGATION ----------*/
.portletNavigationTree dt.hiddenStructure {
  background:transparent;
  padding:0;
  }
.portletNavigationTree .portletItem {
  padding:0;
  }
.navTreeItem {
  margin:0;
  }
.navTreeItem a {
  background:transparent !important;
  border-bottom: 1px solid #f5f5f7;
  color:#332c34 !important;
  display:block !important;
  font-size:1.17em;
  line-height:1.28em;
  padding:5px 30px;
  text-decoration:none;
  }
.navTreeItem a:hover {
  background-color:#fffff0 !important;
  }
.navTreeItem a img,
.portletRecent a img {
  display:none;
  }
.navTreeCurrentItem {
  background-color:#fffff0;
  }

/* Second Level */
.portletItem .navTreeLevel1 {
  background-color:#fffff0;
  }
.portletItem .navTreeLevel1 .navTreeItem a  {
  font-size:1em;
  line-height:1.5em;
  padding-left:41px;
  }
.portletItem .navTreeLevel1 .navTreeItem a:hover  {
  background-color:#ffffcc !important;
  }
.portletItem .navTreeLevel1 .navTreeCurrentItem {
  background-color:#ffffcc !important;
  }

/* Third Level */
.portletItem .navTreeLevel2 .navTreeItem a {
  padding-left:54px;
  }
.portletItem .navTreeLevel3 .navTreeItem a {
  padding-left:67px;
  }

/* Site Map */
#portal-sitemap .navTreeItem div a {
  border:1px solid #fffff0;
  padding:5px;
  text-decoration:none;
  }
#portal-sitemap .navTreeItem ul {
  margin:5px 0;
  }
#portal-sitemap li {
  background:transparent !important;
  }
#portal-sitemap a:hover {
  background-color:#663300 !important;
  color:#ffffcc !important;
  }

/*---------- PORTLET CALENDAR ----------*/
dl.portlet.portletCalendar dt {
  text-align:center;
  }
dl.portlet.portletCalendar a {
  text-decoration:none;
 }
.ploneCalendar .weekdays th {
  background-color:#663300;
  border-color:#663300;
  border-style:solid none;
  border-width:1px;
  color:#ffffcc;
  text-align:center;
  padding:2px;
  font-weight:normal;
  }
.ploneCalendar .todaynoevent {
  border:2px solid #ffa500;
  border-collapse:collapse;
  }
.ploneCalendar td {
  padding:2px;
  text-align:center;
  width:14%;
  }
.ploneCalendar td a {
  color:#ffffcc;
  }
.dayPopup {
  background-color:#663300;
  border:1px solid Black;
  padding:0.2em;
  position:absolute;
  visibility:hidden;
  width:12em;
  z-index:2;
  }
.date {
  font-weight:bold;
  }
dl.portlet.portletCalendar dd {
  padding: 0;
  }
.ploneCalendar {
  border-collapse:collapse;
  border-spacing:0;
  width:100%;
  }
.ploneCalendar .event {
  background-color:#663300;
  font-weight:bold;
  }
.ploneCalendar .todayevent {
  background-color:#663300;
  border:2px solid #ffa500;
  font-weight:bold;
  }
.ploneCalendar .todaynoevent {
  border-collapse:collapse;
  border:2px solid #ffa500;
  }

/*---------- PORTLET SEARCH ----------*/
.portletSearch .LSBox {
  padding:0 4px 0 5px;
  }
.portletSearch .portlet-search-gadget,
.portletSearch .portlet-search-gadget-nols {
  background:#fff;
  border:1px solid #630;
  height:15px;
  margin:0 0 0 -5px;
  padding:2px 3px 3px;
  vertical-align:top;
  width:65%;
  }
.portletSearch .searchButton {
  background:#630;
  border:0;
  color:#fff;
  font-weight:bold;
  height:22px;
  margin:0 -4px 0 0;
  overflow:visible;
  padding:0 4px;
  vertical-align:top;
  width:35%;
  }
.portletSearch .LSResult {
  left:-12px;
  top:20px;
  }
#portal-column-two .portletSearch .livesearchContainer {
  width:250px;
  }
.portletSearch .livesearchContainer {
  left:-12px;
  width:200px;
  }

/*---------- PORTLET TAG CUMULUS ----------*/
.portletCumulusPortlet {
  padding:0;
  }
.portletCumulusPortlet .portletFooter {
  margin:0;
  padding:0;
  }

/*---------- PORTLET LOGIN ----------*/
.portletLogin input {
  padding:2px 15px;
  }
.portletLogin .field input {
  border:1px solid #663300;
  padding:2px;
  width:120px;
  }
.portletLogin img {
  display:none;
  }

/*---------- PORTLET WEB BLOG ----------*/
.portletWeblogAuthors a {
  text-decoration:none;
  }
.portletWeblogAuthors .documentFirstHeading {
  border:0;
  }
.portletWeblogArchive a {
  border:0 !important;
  }
.portletWeblogArchive a:hover {
  border:0 !important;
  }
.portletQuillsLinks dd {
  margin:0;
  padding:0.5em;
  }

/*---------- PORTAL WEBLOG ----------*/
.portaltype-weblog #content {
  padding:1em 16px 0 !important;
  }
.portaltype-weblog .listingBar,
.portaltype-weblog .documentActions {
  margin:0 -16px;
  }
#content-weblog .weblog-entry {
  margin-top:10px;
  margin-bottom:35px;
  }
#content-weblog .weblog-view-entry-title {
  font-size:1.5em;
  line-height:2em;
  }
#content-weblog .documentByLine {
  background:url(../images/posted-by.gif) no-repeat 13px 7px #ffffcc;
  font-size:0.9em;
  line-height:1.2em;
  padding:10px 0 10px 35px;
  margin:0.5em -16px;
  }
#content-weblog .documentByLine a {
  color:#929aa6;
  font-weight:bold;
  }
#content .weblog-topics ul li {
  background:transparent;
  padding:0;
  }
#content-weblog .weblog-footer {
  background-color:#fff;
  padding:2px 0 22px 15px;
  margin:0.5em -16px 0;
  }
#content-weblog .weblog-footer a {
  background:url(../images/comments_ico.png) no-repeat 0 4px;
  color:#929aa6;
  font-size:0.9em;
  line-height:1.2em;
  padding:2px 0 2px 20px;
  text-decoration:underline !important;
  }

/*---------- COLLECTIVE BLOG VIEW ----------*/
.template-blog_view #content {
  padding:1em 16px 0;
  }
.template-blog_view .documentEditable #content {
  margin-bottom:0;
  }
.template-blog_view .listingBar {
  margin:0 -16px;
  }
#blog-listing .blog-item {
  padding:1em 0 0;
  position:relative;
  }
#blog-listing #parent-fieldname-text {
  padding-bottom:30px;
  }
#blog-listing #plone-document-byline {
  display:inline-block;
  background-color:#ffc;
  font-size:0.9em;
  line-height:1.2em;
  margin:5px -15px;
  padding:10px 15px;
  width:100%;
  }
#blog-listing .documentAuthor {
  margin:0 5px 0 0;
  padding:2px 0 2px 25px;
  }
#blog-listing .documentAuthor {
  background:url(../images/posted-by.gif) no-repeat 0 0;
  }
#blog-listing #plone-document-byline span {
  float:left;
  }
#blog-listing .documentModified {
  padding: 2px 0;
  }
#blog-listing .documentModified span {
  padding:0 5px 0; 
  }
#blog-listing .documentAuthor a {
  color:#929aa6;
  font-weight:bold;
  }
#blog-listing .documentActions {
  min-height:23px;
  margin:0 -16px;
  padding:1px 16px 20px;
  }
#blog-listing .documentActions ul {
  border:0;
  }
#blog-listing .documentActions ul li {
  background:transparent;
  padding-left:22px;
  }
#blog-listing .documentActions ul #document-action-print {
  background:url(../images/printer_ico.png) no-repeat 0 4px;
  }
#blog-listing .documentActions ul li a {
  font-size:0.9em;
  line-height:1.2em;
  }
#blog-listing .comment-link {
  bottom:16px;
  position:absolute;
  }
#blog-listing .comment-link a {
  background:url(../images/comments_ico.png) no-repeat 0 4px;
  color:#929AA6;
  font-size:0.9em;
  line-height:1.2em;
  padding:2px 0 2px 20px;
  }

/*----- Search -----*/
form.searchPage {
  text-align:left;
  }
input.searchPage {
  font-size:150% !important;
  }
form.searchPage input.searchButton {
  background:#663300;
  border:0;
  color:#ffffcc;
  cursor:pointer;
  height:29px;
  margin-left:1em;
  padding:0 15px;
  }
#search-results-bar a {
  color:#663300;
  }

/*----- template logged out -----*/
.template-logged_out #content {
  text-align:center;
  }
.template-logged_out #content .documentFirstHeading {
  background:transparent;
  font-size:2em;
  font-weight:bold;
  }
.template-logged_out #content .documentDescription {
  color:#666;
  font:bold 1.25em "Helvetica Neue",Arial,FreeSans,sans-serif;
  }
#login-form label {
  display:inline-block;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  width:10em;
  }
#login-form .formControls input {
  padding:1px 10px;
  }

/*----- Events -----*/
.eventDetails {
  clear:right;
  float:right;
  margin:0 0 0.5em 1em;
  }

/*----- Search Results -----*/
.highlightedSearchTerm {
  background-color:#ff9;
  padding:0 2px;
  }

/*---------- EDITING ----------*/
.fieldRequired {
  color:#fff;
  }
.fieldRequired:before {
  color:#f00;
  content:"■ ";
  }
.formPanel {
  padding:1em 2px;
  }
.formPanel textarea {
  width:100%;
  }
#title {
  font-size:2em;
  width:100%;
  }
#description {
  font-family:Arial, Helvetica, sans-serif;
  width:100%;
  }
.formHelp {
  color:#555;
  margin:0 0 0.2em;
  }
.suppressVisualEditor {
  margin:0 !important;
  }
.fieldUploadFile {
  display:none;
  }
.documentByLine {
  color:#76797;
  margin:0 7px 1em;
  }
ul.configlets,
#content ul.configlets {
  margin:1em 0;
  }
ul.configlets li {
  background:transparent !important;
  }
ul.configlets li {
  margin-bottom:1em;
  }
ul.configlets li a {
  text-decoration:none !important;
  }
#content ul.configletDetails {
  margin:0 1em 1em 4em;
  list-style:none;
  }
#content ul.configletDetails li {
  margin-bottom:1em;
  display:inline;
  }
#content ul.configletDetails li.configletDescription {
  display:block;
  color:#76797c;
  margin:0;
  }
#kss-spinner {
  background-position:50% 50%;
  display:none;
  height:20px;
  left:50%;
  margin:-10px 0 0 -10px;
  position:fixed;
  top:50%;
  width:20px;
  }
.formlibInlineEditable,
.inlineEditable {
  display:block;
  padding:1px;
  }
body.kssActive .inlineEditable:hover,
body.kssActive .formlibInlineEditable:hover {
  border:1px solid #ddd;
  border-color:#666 #ddd #ddd #666;
  cursor:text;
  padding:0;
  }
body.kssActive .inlineEditable a:hover,
body.kssActive .formlibInlineEditable a:hover {
  cursor:pointer;
  }
body.kssActive .formlibInlineForm:hover,
body.kssActive .formlibInlineForm a:hover {
  border:0;
  cursor:default;
  padding:1px;
  }
.inlineForm .formHelp,
.inlineForm .fieldRequired,
.inlineForm label {
  display:none;
  }
/* In inline selection widgets the label *must* be displayed, as
   otherwise you only see identical radio buttons without text. */
.inlineForm .ArchetypesSelectionWidget label {
  display: inline;
  }
.inlineForm #archetypes-fieldname-title input,
.inlineForm #archetypes-fieldname-title {
  font-size: 100%;
  }
/* Workaround for abnormally large buttons in the h1 tag */
h1 div.formControls input {
  font-size:55% !important;
  }


/*----- Edit Bar -----*/
#edit-bar {
  background-color:#75ad0a;
  min-height:1.73em;
  margin:0 0 1em;
  padding:3px;
  }
#content-views {
  background-color:#75ad0a;
  float:left;
  }
#content-views li {
  display:inline;
  }
#content-views a {
  color:#fff;
  display:inline-block;
  line-height:1.73em;
  padding:0 0.75em;
  text-decoration:none;
  }
#content-views li.selected a,
#content-views li a:hover {
  background:#fff;
  color:#000;
  }
#content-views li.selected a {
  font-weight:bold;
  }

/*----- Content pulldowns -----*/
#contentActionMenus {
  background-color:#75ad0a;
  float:right;
  margin-right:-3px;
  padding-right:3px;
  }
#contentActionMenus > li {
  display:inline;
  }
.actionMenu {
  float:right;
  margin:0 0 0 0.5em;
  position:relative;
  white-space:nowrap;
  }
.actionMenu dt {
  font-weight:normal;
  }
.actionMenu li {
  margin:0;
  }
.actionMenu a {
  color:#fff;
  display:block;
  line-height:1.73em;
  text-decoration:none;
  }
.actionMenu dt a {
  padding:0 3px;  
  }
.arrowDownAlternative {
  font-size:80%;
  }
.actionMenu dd {
  background-color:#75ad0a;
  right:-3px;
  margin:0;
  min-width:100%;
  padding:0 3px 3px;
  position:absolute;
  width:auto;
  z-index:5;
  }
.actionMenu.deactivated dd {
  display:none;
  }
.actionMenu dd a:hover,
.actionMenu dd .actionMenuSelected {
  background-color:#fff;
  color:#666;
  }
.subMenuTitle {
  display:block;
  padding:0 3px;
  }

/*----- Form Tabs -----*/
#content .formTabs {
  background-color:#ddd;
  margin:0;
  padding:3px 3px 0;
  }
#content .formTab {
  background:transparent;
  display:inline;
  margin-right:0.25em;
  padding:0;
  }
#content li.formTab a {
  display:inline-block;
  line-height:2em;
  padding:0 0.75em;
  text-decoration:none;
  }
#content li.formTab a.selected,
#content li.formTab a:hover {
  background:#fff;
  color:#000;
  }
#content li.formTab a.notify {
  background-color:red;
  color:#fff;
  }
#content li.formTab a.required span:after {
  color:#f00;
  content:" ■";
  }
#content fieldset.formPanel {
  border:none;
}
#content fieldset.formPanel.hidden {
  display:none;
}
#content div.formControls input.hidden {
  display:none;
  }

/*----- Status messages -----*/
.portalMessage {
  background-color:#ffffe3;
  border:1px solid #996;
  clear:both;
  margin:1em 0;
  }
.portalMessage dl {
  margin:0;
  }
.portalMessage a {
  color:#000;
  }
.portalMessage dt {
  background-color:#996;
  color:#fff;
  font-weight:bold;
  float:left;
  line-height:1.25em;
  margin:0 0.5em 0 0;
  max-width:30%;
  padding:0.5em 0.75em;
  }
.portalMessage dd {
  line-height:1.25em;
  margin:0;
  padding:0.5em 0.5em;
  }
dl.warning {
  border-color:#d80;
  }
dl.warning dt {
  background-color:#d80;
  }
dl.warning dd {
  background-color: #fd7;
  }
dl.error {
  border-color:#d00;
  }
dl.error dt {
  background-color:#d00;
  }
dl.error dd {
  background-color:#fdc;
  }

/*----- Overlays -----*/
.overlay {
  display:none;
  height:auto;
  margin:1em;
  width:auto;
  }
.overlay-iframe,
.overlay-ajax {
  min-height:100px;
  width:600px;
  z-index:99;
  }
.overlay-iframe {
  height:60%;
  }
.overlaybg div.close,
.overlay div.close {
  background:url(../images/pb_close.png) no-repeat 0 0;
  cursor:pointer;
  height:30px;
  left:-14px;
  position:absolute;
  top:-14px;
  width:30px;
  }
.pb-ajax {
  overflow-y:auto;
  }
.pb-ajax,
.pb-image {
  background-color:#fff;
  border:1px solid #999;
  white-space:normal;
  box-shadow:0 0 3em 0.5em #666;
  -moz-box-shadow:0 0 3em 0.5em #666;
  -webkit-box-shadow:0 0 3em #666;
  }
.pb-ajax > div {
  padding:1em;
  }
.pb-ajax .documentActions {
  display:none;
  }
div.overlay div.close span {
  display:block;
  height:1px;
  margin:-1px 0 0 -1px;
  overflow:hidden;
  padding:0;
  width:1px;
  }
.overlay textarea {
  width:100%;
  }
.overlay .link-parent { display: none; }
.overlay #createGroup legend { display: none; }
.overlay #createGroup fieldset { border: none; }
.overlay p {
  margin-bottom:1em;
  }
.overlay label {
  margin-bottom:0.25em;
  }
.overlay a:hover {
  color:#75ad0a;
  }
.overlay a.selected {
  color: #000000;
  }
.overlay .formTab {
  margin-right:1em;
  font-weight: bold;
  }
.overlay .formTab.lastFormTab {
  margin-right:0em;
  }
.overlay .formControls a {
  display: block;
  margin: 0.75em;
  }

/*----- Login form -----*/
#fieldset-openid-login input,
#login-form input {
  font-size:150%;
  }
body.template-register #content input,
body.template-new-user #content input {
  font-size:150%;
  width:inherit;
  }
#fieldset-openid-login label,
#login-form label {
  display:inline-block;
  margin-right:0.5em;
  padding-top:0.2em;
  width:10em;
  }
#fieldset-openid-login .formControls,
#login-form .formControls {
  padding-left:10.7em;
  }

/*----- Content History -----*/
#content-history .historyRecord {
  margin-bottom:1em;
  }
#content-history .historyTools ul {
  float:right;
  margin:0.5em 1em;
  }
#content-history .historyTools ul li {
  display:inline;
  padding:0 0.015em;
  }
#content-history .historyTools form {
  display:inline;
  }
#content-history .historyByLine {
  background:#ddd;
  padding:0.5em;
  }
#content-history .historyLinks {
  clear:right;
  float:right;
  margin:0.5em 1em 0 0;
  }
#content-history .historyComment {
  border:1px solid #ddd;
  padding:0.5em 1em;
  }
#content-history .historyComment p {
  margin:0;
  padding-top:1px;
  }
#content-history a.historyComparePrevious {
  border-top: 1px dotted #ccc;
  display: block;
  margin-top: 3em;
  text-align: center;
  }
#content-history a.historyComparePrevious span {
  background-color: white;
  position: relative;
  top: -0.75em;
  padding: 0 0.5em;
  }

/*----- Data tables -----*/
table.listing,
table.plain {
  border-spacing:0;
  border-collapse:collapse;
  margin:0 0 0.75em;
  width:100%;
  }
table.invisible td,
table.invisible th,
table.plain td,
table.plain th,
table.listing td,
table.listing th {
  padding:0.5em 1em;
  vertical-align:top;
  }
table.plain th,
table.plain td {
  border:1px solid #ddd;
  }
table.listing td.listingCheckbox,
table.listing th.listingCheckbox {
  text-align:center;
  }
table.listing {
  border-left:1px solid #ddd;
  border-bottom:1px solid #ddd;
  }
table.listing .top {
  border-left:1px solid #ddd;
  border-top:1px solid #ddd;
  border-right:1px solid #ddd;
  }
table.listing th {
  background:#ddd;
  border:0.1em solid #e7e7e7;
  border-style:solid solid none;
  color:#666;
  text-align:left;
  }
table.listing tr.odd th {
  border:0.1em solid #fff;
  border-style:solid solid none none;
  }
table.listing tbody th {
  font-weight:bold;
  }
table.listing tbody tr {
  text-align:left;
  }
table.listing tbody tr.odd {
  background:#eee;
  }
table.listing tbody tr td {
  background:transparent;
  }
table.listing tbody tr.odd td {
  background:#eee;
  }
table.listing td {
  border-right:1px solid #ddd;
  }
table.listing a {
  border:none;
  display:inline-block;
  }
table.listing td.draggable {
  background:#ddd !important;
  border-bottom:1px solid white;
  padding:0.4em 0.4em 0 0.5em;
  text-shadow:#fff 1px 1px 1px;
  }

/* Vertical table data listings */
table.vertical th {
  text-align:right;
  }
table.vertical td {
  border-top:0.1em solid #e7e7e7;
  padding:0.5em;
  }

/* Grid table listings */
table.grid td,
table.grid th {
  border:1px solid #e7e7e7;
  padding:0.5em;
  }
.dragindicator {
  outline:2px solid #ffd700;
  }
#foldercontents-order-column {
  padding:0;
  }
.listingBar {
  background-color:#fff;
  font-size:1em;
  line-height:1.2em;
  margin:0 -1em;
  padding:1em 0;
  text-align:center;
  }
.listingBar .previous {
  float:left;
  }
.listingBar .next {
  float:right;
  }
.listingBar a,
.listingBar .current {
  padding:0 5px;
  text-decoration:none;
  }
.listingBar .current {
  font-weight:bold;
  }
.listingBar .previous a {
  border-bottom:8px solid transparent;
  border-right:8px solid #630;
  border-top:8px solid transparent;
  display:inline-block;
  height:0;
  overflow:hidden;
  vertical-align:middle;
  width:0;
  }
.listingBar .next a {
  border-bottom:8px solid transparent;
  border-left:8px solid #630;
  border-top:8px solid transparent;
  display:inline-block;
  height:0;
  overflow:hidden;
  vertical-align:middle;
  width:0;
  }

/*---------- DASHBOARD ----------*/
#dashboard-portlets1,
#dashboard-portlets2,
#dashboard-portlets3,
#dashboard-portlets4 {
  float:left;
  margin-right:1.3%;
  width:24%;
  }
#dashboard-portlets4 {
  margin-right:0;
  }

/*---------- ALBUM ----------*/
.photoAlbumEntry {
  background:url(../images/album.png) no-repeat;
  float:left;
  font-size:0.92em;
  height:162px;
  line-height:1.36em;
  margin:0 6px 6px;
  padding:8px 7px 8px 6px;
  width:132px;
  }
.photoAlbumFolder {
  background-position:0 -178px;
  }
.photoAlbumEntry a {
  display:block;
  height:162px;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  }
.photoAlbumEntry a:after {
  background-color:rgba(241, 241, 241, 0.4);
  bottom:0;
  content:"";
  height:8px;
  position:absolute;
  width:100%;
  }
.photoAlbumEntryWrapper {
  display:block;
  text-align:center;
  }
.photoAlbumEntry img {
  border:2px solid #fff;
  }
.photoAlbumEntryTitle {
  color:#757373;
  display:block;
  padding:4px 3px 0;
  width:126px;
  }
.photoAlbumEntry a:hover {
  overflow:visible;
  }
.photoAlbumEntry a:hover .photoAlbumEntryTitle  {
  background-color:rgb(241,241,241);
  background-color:rgba(241,241,241,0.8);
  bottom:0;
  min-height:50%;
  position:absolute;
  }

/*----- Accessibility elements, applied by JS -----*/
body.largeText {
  font-size:88%;
  }
body.smallText {
  font-size:69%;
  }

/*---------- COMMENTING ----------*/
.discussion .hide {
  display:none;
  }
.discussion {
  clear:both;
  font-size:1.09em;
  }
.comment {
  padding:0 0 9px;
  }
.commentImage {
  float:left;
  padding:5px 7px;
  }
.discussion .documentByLine {
  background-color:#f1f1f1;
  margin:0;
  padding:5px;
  }
.commentBody {
  border-color:#d9d9d9 #f1f1f1 #f1f1f1;
  border-style:solid;
  border-width:1px;
  clear:both;
  margin:0 0 5px;
  padding:5px;
  overflow:auto;
  }
.commentActions {
  text-align:right;
  }
.reply-to-comment-button {
  margin-left:11px;
  }
.reply {
  background-color:#f1f1f1;
  clear:both;
  font-size:1.09em;
  margin:35px 0 0;
  padding:5px 7px;
  position:relative;
  }
.reply fieldset {
  border:0;
  margin:0;
  }
.reply legend {
  font-weight:bold;
  position:absolute;
  top:-28px;
  }
.reply p {
  color:#76797c;
  font-size:0.92em;
  }
.reply textarea {
  min-height:50px;
  width:100%;
  }

/*---------- CONTENT TYPE ICONS ----------*/
.icons-on .contenttype-folder {
  background:url(../images/icons-sprite.png) no-repeat 0 -1598px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-document {
  background:url(../images/icons-sprite.png) no-repeat 0 -1799px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-news-item{
  background:url(../images/icons-sprite.png) no-repeat 0 -1999px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-event {
  background:url(../images/icons-sprite.png) no-repeat 0 -2199px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-topic {
  background:url(../images/icons-sprite.png) no-repeat 0 -2400px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-image {
  background:url(../images/icons-sprite.png) no-repeat 0 -2599px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on .contenttype-link {
  background:url(../images/icons-sprite.png) no-repeat 0 -2995px;
  display:inline-block;
  padding-left:19px;
  }
.icons-on img[alt='File'] {
  margin-right:3px;
  }
/* Add new */
#plone-contentmenu-factories li a {
  background:url(../images/icons-sprite.png) no-repeat 1px -1199px;
  display:block;
  padding-left:17px;
  }
#plone-contentmenu-factories li a:hover {
  background-color:#fff;
  background-position:1px -2799px;
  }
#plone-contentmenu-factories li .contenttype-folder {
  background-position:1px 2px;
  }
#plone-contentmenu-factories li .contenttype-folder:hover {
  background-position:2px -1598px;
  }
#plone-contentmenu-factories li .contenttype-document {
  background-position:1px -199px;
  }
#plone-contentmenu-factories li .contenttype-document:hover {
  background-position:2px -1799px;
  }
#plone-contentmenu-factories li .contenttype-news-item {
  background-position:1px -399px;
  }
#plone-contentmenu-factories li .contenttype-news-item:hover {
  background-position:2px -1999px;
  }
#plone-contentmenu-factories li .contenttype-event {
  background-position:1px -599px;
  }
#plone-contentmenu-factories li .contenttype-event:hover {
  background-position:2px -2199px;
  }
#plone-contentmenu-factories li .contenttype-topic {
  background-position:1px -800px;
  }
#plone-contentmenu-factories li .contenttype-topic:hover {
  background-position:2px -2400px;
  }
#plone-contentmenu-factories li .contenttype-image {
  background-position:1px -999px;
  }
#plone-contentmenu-factories li .contenttype-image:hover {
  background-position:2px -2599px;
  }
#plone-contentmenu-factories li .contenttype-file {
  background-position:1px -1199px;
  }
#plone-contentmenu-factories li .contenttype-file:hover {
  background-position:2px -2799px;
  }
#plone-contentmenu-factories li .contenttype-link {
  background-position:1px -1395px;
  }
#plone-contentmenu-factories li .contenttype-link:hover {
  background-position:2px -2995px;
  }
#plone-contentmenu-factories #settings {
  background-image:none;
  padding:0;
  }

}

@media print {

body {
  font-family:"Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
  font-size:11pt;
  }
h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
  line-height:125%;
  page-break-inside:avoid;
  page-break-after:avoid;
  }
a {
  border-bottom:0.5pt solid #000;
  color:#000;
  text-decoration:none;
  }
.documentDescription {
  font-weight:bold;
  }
pre {
  border:1pt dotted #000;
  font-size:8pt;
  overflow:auto;
  padding:1em;
  white-space:pre;
  }
table.listing,
table.listing td {
  border:1pt solid #000;
  border-collapse:collapse;
  }
table.listing td,
table.listing th {
  padding:6px;
  }
div.pageBreak {
  page-break-before:always;
  }
#content dt {
  margin:1em 0 0.625em;
  }
#content p, #content table {
  margin-bottom:0.625em;
  margin-top:0.625em;
  }
#content .documentDescription, #content #description {
  margin:0.5em 0 1.31em;
  }
div.top,
#portal-logo,
#portal-siteactions,
.hiddenStructure,
#portal-searchbox,
#theme-globalnav,
#portal-personaltools,
#portal-breadcrumbs,
#edit-bar,
#portal-column-one,
#portal-column-two,
#portal-languageselector,
.contentViews,
.contentActions,
.help,
.legend,
.portalMessage,
.documentActions,
.netscape4,
#viewlet-below-content .reply,
#viewlet-below-content .discussion,
#kss-spinner,
#review-history,
#content-history,
.listingBar,
#portal-footer,
#portal-colophon,
.skipnav,
#kss-spinner,
#review-history,
#content-history,
.listingBar,
.link-presentation,
input.standalone,
.overlay,
.managePortletsFallback,
.close,
.link-parent,
.draggingHook,
#foldercontents-order-column,
input.context,
.visualNoPrint,
#portal-slogan,
#subscribe-links {
  display:none;
  }
.image-left {
  border:0.4pt solid #000;
  clear:left;
  float:left;
  margin:0.5em 1em 0.5em 0;
  }
.image-inline {
  float:none;
  }
.image-right {
  border:0.4pt solid #000;
  clear:right;
  float:right;
  margin:0.5em;
  }
dd.image-caption {
  margin:0;
  padding:0;
  text-align:left;
  }
dl.captioned {
  padding:0.8em;
  }
.newsImageContainer {
  float:right;
  margin:0 0 0.5em 1em;
  width:16em;
  }
.tileImage {
  border:0.4pt solid #000;
  float:right;
  margin:0 0 0.5em 0.5em;
  }
  
}
